<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <style>
        .center-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }
    </style>
</head>
<body style="background: pink">
<div class="container text-center mt-5">
    <h1 style="color: deeppink; margin-bottom: 120px">Hello &#9825; <br> Itt találhatóak a táblák: </h1>
    <a style="color: black; border: 2px solid; border-radius: 10px; font-weight: bold; display: block; margin-top: 10px;" class="h2" th:href="@{/users}">Gazdik</a>
    <a style="color: black; border: 2px solid; border-radius: 10px; font-weight: bold; display: block; margin-top: 10px;" class="h2" th:href="@{/pets}">Kisállatkák</a>
</div>
<div>
    <img src="/images/hello_kitty.png" alt="Image" width="200px" class="center-image">
</div>
</body>
</html>
